
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


*{
   font-family: "Roboto", sans-serif;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   scroll-behavior: smooth;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
  padding:  10px 100px;
  background-color: #eee;
}

header  img{
  width: 65px;
  margin-bottom: 10px;
}
header h1{
  color: #6495ED;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1.8rem;
  letter-spacing: .2em;
    margin-bottom: 10px;
}

header nav ul {
  display: flex;
  list-style: none;
  margin-bottom: 10px;
}

header nav ul li a {
  padding: 10px;
  font-weight: 600;
  color: #6495ED;
  text-decoration: none;
}
header nav ul li a:hover{
   color: #356fdb;
}

main{
    display: flex;
    flex-direction: column;
}

main .work{
    font-style: italic;
    text-align: center;
    margin: 7%;
}

main .work h1{
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 10px;
}

main .work p{
    font-style: normal;
    font-size: 1.1em;
    margin-bottom: 20px;
    color: #c1bdbd;
}

.about, aside.reviews  {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding: 20px;
    margin: 0 50px 0 50px;
}

.about section{
   margin-right: 40px;
   margin-bottom: 40px
}

.projects h4 , .experience h4 ,.education h4 {
  text-align: center;
  font-size: 1.4em;
  font-weight: 500;
  padding: 10px;
  margin-bottom: 10px;
}

.projects ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
    line-height: 20px;
}

.experience .experience-roadmap {
  margin-bottom: 10px;
}

.experience .experience-roadmap div a , .experience .experience-opensource div a{
  text-decoration: none;
  color: #6495ED;
}
.experience .experience-roadmap div a:hover, .experience .experience-opensource div a:hover {
  color: #356fdb;
}

.about .education .courses ol {
    list-style-type: disc;
    padding-left: 20px;
}

main div:last-child > h4 {
      font-size: 1.4em;
      font-weight: 600;
      padding: 10px;
      margin-left: 20px;
}


main div:last-child blockquote{
  background-color: gray;
  border-radius: 20px ;
  -webkit-border-radius: 20px ;
  -moz-border-radius: 20px ;
  -ms-border-radius: 20px ;
  -o-border-radius: 20px ;
  padding: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

footer.footer{
    font-style: italic;
    text-align: center;
    margin: 7%;
}



/*artical page*/
main.aritcals{
  margin-top: 10%;
  display: flex;
  justify-content: space-around;
  flex-flow: wrap row ;
  font-size: 1.2em;
}


section.artical-1 , section.artical-2, section.artical-3{ 
  width: 25%;
  padding: 20px;
  background-color: rgb(199, 195, 195);
  border: black solid 3px;
  border-radius: 20px; 
  -webkit-border-radius: 20px; 
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

main.contact-page{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10%;
}


.contact-page form{
  display: flex;
  justify-content: space-between;
  flex-flow: wrap column;
}


.contact-page form input, .contact-page form textarea{
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.contact-page form  button[type="submit"]{
  background-color: #6495ED;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 5px;
}


.contact-page form  button[type="submit"]:hover{
  background-color: #356fdb;
}